<div class="container login-container">
  <form class="w-100 form-login">
    <app-title5 [label]="label"></app-title5>
    <div class="mt-2">
      <label for="code">Correo:</label>
      <input id="code" type="text" placeholder="Ingresa tu correo electrónico">
    </div>
    <div class="mt-2">
      <label for="description">Contraseña:</label>
      <input id="description" type="text" placeholder="Ingresa una contraseña">
    </div>
    <div class="mt-2">
      <div style="width: 120px;" class="d-flex">
        <input type="checkbox" value="" id="check" class="mt-1">
        <p>Recordarme</p>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn my-btn btn-save-category mt-4">Entrar</button>
    </div>
  </form>
</div>