<div class="card card-item text-white mb-4">
  <div class="card-body">
    <app-title6 label="{{ list.code }}"></app-title6>
    <p class="description">{{ list.description }}</p>
  </div>
  <a *ngIf="list.link" [href]="list.link" target="_blank" class="card-header card-icon d-flex justify-content-center align-items-center" style="color: white;">
    <fa-icon [icon]="icon[2]"></fa-icon>
  </a>
  <div class="card-header card-icon d-flex justify-content-center align-items-center" (click)="openLg(editList)">
    <fa-icon [icon]="icon[0]"></fa-icon>
  </div>
  <div class="card-header card-icon d-flex justify-content-center align-items-center" (click)="openLgTrash(trashList)">
    <fa-icon [icon]="icon[1]"></fa-icon>
  </div>
</div>


<ng-template #editList let-modal>
  <div class="modal-header">
    <button type="button" class="close mr-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex">
    <div class="p-5 w-100">
      <app-form-new-list [list]="list" (createItem)="createItem(modal)"></app-form-new-list>
    </div>
    <div class="modal-baner p-5 d-flex justify-content-center align-items-center">
      <app-icon-baner-new-list></app-icon-baner-new-list>
    </div>
  </div>
</ng-template>

<ng-template #trashList let-modal>
  <div class="modal-header">
    <button type="button" class="close mr-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex">
    <div class="p-5 w-100">
      <app-title5 [label]="label"></app-title5>
      <div class="d-flex justify-content-between">
        <button class="btn my-btn btn-save-category bg-secondary mt-5" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button class="btn my-btn btn-save-category mt-5" (click)="deleteListByCategory(modal)">Borrar</button>
      </div>
    </div>
    <div class="modal-baner p-5 d-flex justify-content-center align-items-center">
      <app-icon-baner-trash></app-icon-baner-trash>
    </div>
  </div>
</ng-template>