<div class="card card-item text-white mb-4">
  <div class="card-body" [routerLink]="['list', category.id]">
    <app-title6 label="{{ category.name }}"></app-title6>
  </div>
  <div class="card-header card-icon d-flex justify-content-center align-items-center" (click)="openLg(editCategory)">
    <fa-icon [icon]="icon[0]"></fa-icon>
  </div>
  <div class="card-header card-icon d-flex justify-content-center align-items-center" (click)="openLgTrash(trashCategory)">
    <fa-icon [icon]="icon[1]"></fa-icon>
  </div>
</div>


<ng-template #editCategory let-modal>
  <div class="modal-header">
    <button type="button" class="close mr-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex">
    <div class="p-5 w-100">
      <app-form-new-category [category]="category" (createItem)="createItem(modal)"></app-form-new-category>
    </div>
    <div class="modal-baner p-5 d-flex justify-content-center align-items-center">
      <app-icon-baner-nueva-categoria></app-icon-baner-nueva-categoria>
    </div>
  </div>
</ng-template>

<ng-template #trashCategory let-modal>
  <div class="modal-header">
    <button type="button" class="close mr-1" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body d-flex">
    <div class="p-5 w-100">
      <app-title5 [label]="label"></app-title5>
      <div class="d-flex justify-content-between">
        <button class="btn my-btn btn-save-category bg-secondary mt-5" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button class="btn my-btn btn-save-category mt-5" (click)="deleteCategoryById(modal)">Borrar</button>
      </div>
    </div>
    <div class="modal-baner p-5 d-flex justify-content-center align-items-center">
      <app-icon-baner-trash></app-icon-baner-trash>
    </div>
  </div>
</ng-template>
