<form class="w-100" (ngSubmit)="onSubmit()">
  <app-title5 [label]="label"></app-title5>
  <div class="mt-2">
    <label for="code">Código:</label>
    <input id="code" type="text" placeholder="Ingresa el nuevo código" appAutofocus autocomplete="off" [(ngModel)]="list.code" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mt-2">
    <label for="description">Descripción:</label>
    <input id="description" type="text" placeholder="Nueva descripción" autocomplete="off" [(ngModel)]="list.description" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="mt-2">
    <label for="link">¿Es un Link?</label>
    <input id="link" type="text" placeholder="Ingresa link" autocomplete="off" [(ngModel)]="list.link" [ngModelOptions]="{standalone: true}">
  </div>
  <div class="flex-flow-reverse">
    <app-btn-save></app-btn-save>
  </div>
</form>