/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito');

* {
  font-family: 'Nunito';
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input {
  background-color: rgb(51, 51, 51, .02);
  border-radius: 10px;
  border: solid 1px rgb(51, 51, 51, .1);
  padding: 7px 12px;
  width: 100%;
}

/* Buttons */
.my-btn {
  background-color: #B363C1;
  border-radius: 10px;
  color: white;
}

.btn-save-category {
  font-size: 14px;
  min-width: 100px;
}

.btn-save-category:hover {
  color: white;
}


/* Modal */
.modal-content {
  border: none;
  overflow: hidden;
  border-radius: 15px;
}

.modal-header {
  background-color: #F8F9FB;
  border: none;
  padding: 10px;
}

.modal-body {
  padding: 0px;
}

.modal-baner {
  background-color: rgb(118, 66, 168, .02);
  width: 490px;
}

/* Card */
.card-item {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 15px;
  background-color: #B363C1;
  cursor: pointer;
  overflow: hidden;
}

.card-item .card-icon {
  transition: all 444ms ease;
}

.card-item .card-icon:hover {
  background-color: rgb(32, 30, 40, .5);
}

/* Aside */

aside {
  min-width: 330px;
  padding: 0px 20px;
}

aside button.btn {
  padding: 20px;
  box-shadow: 0 0 20px rgb(179, 99, 193, .4);
}

aside button.btn:hover {
  color: white;
  background-color: rgb(153, 86, 165);
  box-shadow: 0 0 20px rgba(179, 99, 193, 0.8);
}

/* SVG */
SVG {
  width: 100%;
}

@media (max-width: 1024px) {
  nav, aside {
    display: none !important;
  }
}